.formulaire{
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.formulaire label{
    font-weight: bold;
    white-space: nowrap; /* Empêche le label de se casser en plusieurs lignes */
}